@font-face {
  font-family: 'Golf';
  /*src: url('Golf.woff2') format('woff2');*/
  src: url('Golf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

p, li {
  line-height: 1.8;
}

.banner {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #F5645D;
  color: #fff;
}

.banner__pattern {
  background-image: url("assets/argyle.svg");
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  height: 360px;
  top: 0;
}

.banner__title {
  opacity: 0;
  animation: 0.4s cubic-bezier(0.7, 1.3, 0.75, 1) forwards animations__slideAppear;
  animation-delay: 0.15s;
  border: 10px solid white;
  padding: 60px;
  background: #F5645D;
}
.banner_titleText {
  fill: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

@keyframes animations__slideAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
